<!DOCTYPE html>
<html lang="en" ng-app="Procodo">
<head>
  <meta charset="utf-8" />
  <title>Procodo | Developers + Nonprofits</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body>
  <h1>Procodo</h1>
  <div ng-controller="NavCtrl">
    <div class='navigation' ng-if='isValid()'>
      <ul>
        <li><a href='#' class='logout' ng-click='logout()'>Logout</a></li>
      </ul>
    </div>
  </div>

  <div ng-view></div>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>

  <script src="app/users/users.js"></script>
  <script src="app/nav/nav.js"></script>
  <script src="app/landing/landing.js"></script>
  <script src="app/services/services.js"></script>
  <script src="app/app.js"></script>
</body>
</html>