<div id='np-dashboard' ng-init='getUser()'>
  <h2>Dashboard for {{ np.account.username }}</h2>
  <a href="#/nps/new" ng-if="!hasProfile()">Create your Profile</a>
  <div class="profile" ng-if="hasProfile() && !hasProject()">
    <h3>Organization Name: {{ np.profile.organizationName }}</h3>
    <a href="#/projects/new">Post a New Project</a>
    <h4>Account Holder: <span style='font-size: 10pt;'>{{ np.profile.accountHolder }}</span></h4>
  </div>
  <a href="api/nps/profiles/{{ np.account._id }}">Edit your Profile</a>

  <div class="projects" ng-if="hasProject()">
    <h3>Organization Name: {{ np.profile.organizationName }}</h3>
    <div class="projectList" ng-repeat="project in np.profile.projects">
      <hr />
      <h2>Current Project: {{ project.title }}</h2>
      <p>Project Requirements: {{ project.requirements }}</p>
    </div>
  </div>
</div>