<div class="new-project" ng-init="setProjectUser()">
  <form name="createProjectForm" ng-submit='createProject()'>
    <input type='text' ng-model='project.title' placeholder='project title'>
    <input type='text' ng-model='project.requirements' placeholder='project requirements'>
    <input type='text' ng-model='project.weeks' placeholder='number of weeks'>
    <input type='text' ng-model='project.hrsWeek' placeholder='hours per week'>
    <button>Create a new Project</button>
  </form>
</div>
<pre ng-model='project'>{{ project }}</pre>